@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--color-dark: rgb(39 49 66);
	--color-mainText: rgba(29, 33, 48, 1);
	--color-secText: rgba(67, 73, 91, 1);
}

:root {
	--text-color: #1D2130;
}

.custom-radial {
	background: radial-gradient(483.9% 2719.65% at -49.5% -250%, #9BFFA5 29.24%, #AED3FF 47.38%, #C9D4EF 54.97%, #D798E1 65.75%, #CACFFA 81.77%);
	filter: blur(400px)
}

.shadow1{
	box-shadow: 0px 4px 7px 0px #00000033;
}

.shadow2{
	box-shadow: 0px 4px 4px 0px #00000040;
}



@custom-variant dark (&:where(.dark, .dark *));